html {
  margin: 0;
  padding: 0;
}

body {
  /* overflow: hidden; */
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  background-color: #c09537;
}

.item {
  background-color: #6b5e42;
  color: #33312b;
  padding: 5px;
  border-radius: 7px;
  text-decoration: none;
}

.active {
  text-decoration: wavy underline;
  background-color: #897b1d;
}

.global-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.nav-container {
  display: flex;
  gap: 8px;
  background-color: #eaa71b;
  margin: 10;
  padding: 12px;
  border-radius: 10px;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  color: #33312b;
  text-decoration: none;
}

.creators-link {
  color: #33312b;
  text-decoration: none;
}

.icon {
  height: 30px;
}

.round {
  border-radius: 50%;
}

p {
  padding: 0 50px 0 50px;
}

.li-circle {
   list-style-type: circle;
}